@import "tailwindcss";

@theme {
  --color-primary: #236ce3;
  --color-secondary: #242021;
  --color-lightblue: #d0e1ff;
  --color-paragraph: #666364;
  --color-about: #fff;
  --color-black: #000000;
  --color-white: #ffffff;
  --default-font-family: Prompt, sans-serif
}

:root {
  --color-backgroundImage: linear-gradient(to right, #236ce3, #d0e1ff);
}

.font-redRose {
  font-family: "Red Rose", serif;
}

[data-theme="light"] {
  --background: #ffffff;
  --foreground: #000000;
}

[data-theme="dark"] {
  --color-lightblue: #09122C;
  --color-secondary: #ffffff;
  --color-black: #fff;
  --color-about: #000;
  --color-paragraph: #E2DFD0;
}

[data-theme="colorfull"] {
  --color-lightblue: #7ADAA5;
  --color-primary: #379237;
  --color-paragraph: #000000;
  --color-backgroundImage: linear-gradient(to bottom, #379237, #7ADAA5);
}

body {
  background-color: var(--color-lightblue);
  color: var(--foreground);
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

body::-webkit-scrollbar {
  display: none;
}

.theme-options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.paragraph {
  font-family: var(--default-font-family);
  font-size: 1rem;
  line-height: 150%;
  color: var(--color-paragraph);
}

.main-heading {
  @apply text-3xl sm:text-4xl lg:text-5xl stroke-secondary leading-[118%] font-bold uppercase text-secondary
}

.main-heading {
  -webkit-text-stroke-width: 2.37px;
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-white);
}